@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  background-color: #FEF3E0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  color: #000000;
  background-color: inherit;
}

.main-container {
  flex-grow: 1;
}

.navigation {
  margin: 0 auto;
  width: 1200px;
  display: flex;
}

.navigation-list {
  margin: 0;
  padding: 0;
}

.navigation-left {
  width: 500px;
}

.navigation-right {
  width: 400px;
  margin-left: auto;
}

.welcome {
  display: block;
  margin: 0px auto 100px auto;
}

.navigation-link {
  font-weight: 700;
  text-align: center;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.banner {
  background-image:
    url("../img/divider.svg"),
    url("../img/bg/index-background.jpg");
  background-position: bottom, center;
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, auto;
  background-color: #477C9C;
  color: inherit;
  height: 485px;
}

.main-subtitle {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-subtitle-text {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.about-list-title {
  color: #000000;
  background-color: inherit;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.about-list li:first-child {
  background-color: #81AAB9;
}

.about-list li:nth-child(3) {
  background-color: #E5E5D8;
}

.about-list li:last-child {
  background-color: #81AAB9;
}

.light {
  color: #FFFFFF;
}

.advantages-main-title {
  color: #000000;
  background-color: inherit;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-main-text {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  background-color: #EFEADC;
  margin: 0;
  padding: 0;
}

.advantages-list .highlight {
  background-color: #FEF3E0;
}

.advantages-list-item {
  width: 400px;
}

.advantages-list-title {
  color: #000000;
  background-color: inherit;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-list-text {
  font-size: 18px;
  line-height: 21px;
}

.offer {
  text-align: center;
}

.offer-title {
  color: #000000;
  background-color: inherit;
}

.subscription {
  color: #ffffff;
  background-image: url("../img/bg/subscription-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #81AAB9;
  text-align: center;
}

.page-footer {
  display: flex;
  justify-content: space-between;
}

.social {
  width: 200px;
}

.footer-phone {
  width: 700px;
  text-align: center;
}

.footer-phone-address-number {
  color: #000000;
  background-color: inherit;
  text-decoration: none;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
}

.footer-academy {
  width: 150px;
}

.hotel-filter-form {
  display: flex;
}

.infrastructure-set {
  width: 150px;
  margin-right: 70px;
}

.hotel-type-set {
  /* TODO: width размер не по макету, чтобы не было переноса строки
   * потом исправить когда точки у списка уберутся - width: 150px */
  width: 180px;
  margin-right: 140px;
}

.hotel-card-list {
  display: flex;
  flex-wrap: wrap;
}

.hotel-card-item {
  width: 340px;
}

/* .visually-hidden { */
/*   display: none; */
/* } */
